.site-header {
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.site-header h1 {
    font-size: 2em;
}

.header-nav {
    margin-left: auto;
    padding: 10px;
}

.hero-logo {
    color: white;
    height: 100px; /* Adjust as needed */
    margin: 0 1rem;
    display: flex;
    align-items: center;
  }
  .hero-logo svg {
    height: 100%;
  }