/* Ensure these are NOT being overridden later in the file */
html {
    height: 100%;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
    background-color: white;
  }
  
  /* This pushes the footer to the bottom if content is short */
  .page-wrapper {
    flex: 1;
  }
  

h2 {
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
}

p {
    padding: 10px;
}