.orbit-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .orbit {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: spin 5s linear infinite;
    transform-origin: center;
    z-index: 2;
  }
  
  /* Orbit path that fades behind the rocket */
  .faded-orbit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 1;
    mask-image: conic-gradient(
      rgba(0, 0, 0, 0) 0deg,
      rgba(0, 0, 0, 0) 290deg,
      rgba(0, 0, 0, 1) 360deg
    );
    
    -webkit-mask-image: conic-gradient(
        rgba(0, 0, 0, 0) 0deg,
        rgba(0, 0, 0, 0) 290deg,
        rgba(0, 0, 0, 1) 360deg
      );

  }
  
  .planet {
    position: absolute;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
  
  .rocket {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%) rotate(80deg);
    transform-origin: center;
    z-index: 4;
  }
  
  @keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  