/* ===== Approach Section ===== */

#approach, p {
    background:
    linear-gradient(217deg, rgba(255, 0, 102, 0.8), rgba(0, 174, 255, 0.641) 70.71%),
    linear-gradient(127deg, rgb(89, 255, 0), rgba(0, 255, 0, 0.724) 70.71%),
    linear-gradient(336deg, rgb(0, 0, 255), rgba(0, 0, 255, 0.063) 70.71%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #exploration p {
    font-size: 1.2em;
    background: grey;
    padding: 20px 20px 20px 20px;

  }

  
  /* Exploration Orbit */
  .orbit-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 2rem auto;
  }
  
  .orbit {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: spin 5s linear infinite;
    transform-origin: center;
    z-index: 2;
  }
  
  .faded-orbit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 50%;
    mask-image: conic-gradient(
      rgba(0, 0, 0, 0) 0deg,
      rgba(0, 0, 0, 0) 290deg,
      rgba(0, 0, 0, 1) 360deg
    );
    -webkit-mask-image: conic-gradient(
      rgba(0, 0, 0, 0) 0deg,
      rgba(0, 0, 0, 0) 290deg,
      rgba(0, 0, 0, 1) 360deg
    );
    z-index: 1;
  }
  
  .planet {
    position: absolute;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
  
  .rocket {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%) rotate(80deg);
    transform-origin: center;
    z-index: 4;
  }
  
  /* Process Container */

  #my-process {
    display:block;
    float: inherit;
    justify-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-right: 20%;
    margin-left: 20%;

  }

  .process-container {
    background-color: rgb(157, 29, 29);
    padding: 2rem 1rem;
    border-radius: 8px;
    margin-top: 2rem;
  }
  
  .process-container h2 {
    margin-top: 2rem;
  }
  
.process {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
  
  .process h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
 /* On screens that are 600px or less, set the background color to olive */
@media screen and (min-width: 900px) {
   #my-process {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   } 
}