/* ===== Approach Section ===== */

#approach {
  background-image: 
    url("/assets/images/star_background.png"),
    linear-gradient(0deg, #0c2437, #060e27, #1c5e76, #2fd2ac);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover, 500% 100%; /* Image: cover | Gradient: wide horizontal scroll */
  background-position: center, 0% 0%;
  animation: gradient 30s linear infinite;
  color: white;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.spacer {
  height: 20vh;
}

/* ===== Exploration Section ===== */

#exploration h2 {
  font-size: 4em;
}

#exploration p {
  font-size: 1.5em;
  line-height: 2em;
}

/* ===== Process Section ===== */

#my-process {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 4rem 0;
  padding: 0 20%;
}

.process-container {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  max-width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

.process-container h2 {
padding-top: 50px;
}

.process-container p {
  padding: 0 20%;
  padding-bottom: 50px;
}

.process {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.process h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* ===== Logo SVG ===== */

.logo-svg-hero {
  max-width: 70vh;
  margin-top: 2em;
  justify-self: center;
  display: flex;
  align-items: center;
  padding: 4em;
  fill: white;
  opacity: 0;
}

/* ===== Tag Styling ===== */

.explore-tag {
  color: #ffd000;
}

/* ===== Responsive ===== */

@media (max-width: 500px) {
  #my-process {
    display: block;
  }

  .process-container {
    max-width: 100vw;
    background: none;
    backdrop-filter: none;
  }

  .process-container p {
    padding-bottom: 2em;
  }

  #exploration h2 {
    font-size: 1.5em;
  }

  #exploration p {
    font-size: 1em;
  }
}
