/* ===== Approach Section ===== */

#approach {
    background:
    linear-gradient(217deg, rgba(255, 0, 102, 0.8), rgba(0, 174, 255, 0.641) 70.71%),
    linear-gradient(127deg, rgb(89, 255, 0), rgba(0, 255, 0, 0.724) 70.71%),
    linear-gradient(336deg, rgb(0, 0, 255), rgba(0, 0, 255, 0.063) 70.71%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .spacer {
    height: 50vh
  }

  #exploration p {
    font-size: 1.5em;
    margin-left:auto;
    margin-right: auto;
    line-height: 2em;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  #exploration h2 {
    font-size: 4em;
    padding-top: 4em;
    margin-left: 20%;
    margin-right: 20%;
  }

  /* Process Container */

  #my-process {
    display:block;
    float: inherit;
    justify-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-right: 20%;
    margin-left: 20%;

  }

  .process-container {
    background-color: rgb(157, 29, 29);
    padding: 2rem 1rem;
    border-radius: 8px;
    margin-top: 2rem;
  }
  
  .process-container h2 {
    margin-top: 2rem;
  }
  
.process {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
  
  .process h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .logo-svg-hero {
    max-width: 70vh;
    margin-top: 2em;
    justify-self: center;
    display: flex;
    align-items: center;
    padding: 4em;
    fill: white;
    opacity: 0;
  }

  .logo-svg-hero:hover {
    opacity: 1;
  }

  .explore-tag {
    color: red;
  }

 /* On screens that are 600px or less, set the background color to olive */
@media screen and (min-width: 900px) {
   #my-process {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   } 
}