#collab {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    background-image: 
      url("/assets/images/star_background.png"),
      linear-gradient(0deg, #0c2437, #060e27, #1c5e76, #2fd2ac);
  
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover, 500% 100%; /* wider gradient for scrolling */
    background-position: center, 0% 0%;
  
    animation: gradient 30s linear infinite;
  
    z-index: -100;
    color: white;
  }

#collab h2 {
    font-size: 4em;
}

#collab p {
    font-size: 1.5em;
    margin-left:auto;
    margin-right: auto;
    line-height: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}