@keyframes backgroundScrollParallax {
  0% {
    background-position: center 0%, 0% 0%;
  }
  100% {
    background-position: center 200%, 0% 0%;
  }
}

#collab {
  background-image: 
    url("/assets/images/star_background.png"),
    linear-gradient(124deg,rgba(19, 46, 84, 1) 0%, rgba(55, 44, 87, 1) 50%, rgba(97, 32, 32, 1) 100%);

  background-attachment: scroll, fixed; /* image scrolls, gradient stays */
  background-repeat: repeat-y, no-repeat;
  background-size: cover, 100% 100%;
  background-position: center 0%, 0% 0%;

  animation: backgroundScrollParallax 120s linear infinite;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: -100;
}

  
  
#collab h2 {
    font-size: 4em;
}

#collab p {
    font-size: 1.5em;
    line-height: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

@media (max-width: 500px) {
    #collab h2 {
        font-size: 1.5em;
    }

    #collab p {
        font-size: 1em;
    }

    #collab {
        padding-left: 20%;
        padding-right: 20%;
    }

}